.bio {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.bio h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
  color: #333;
}

.bio p {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #666;
}
