<!-- One way data binding  {{}}-->
<!-- <p>{{ todo.id }}</p> -->

<!-- <div class="input-container"> -->
<!-- two way data binding -->
<!-- <input [(ngModel)]="newTodoTitle" placeholder="Enter Todo... " />
  <input [(ngModel)]="newTodoDate" type="date" placeholder="Enter Date " />
  <button (click)="addTodo()">Add</button>
</div> -->

<div class="todo-container">
  <h2>Todo List</h2>
  <input [(ngModel)]="newTodoTitle" placeholder="Enter Todo... " />
  <input [(ngModel)]="newTodoDate" type="date" placeholder="Enter Date " />
  <button (click)="addTodo()">Add</button>
  <br />
  <ul>
    <li *ngFor="let todoList of todo">
      <span class="title">{{ todoList.id }} - </span>
      <span class="title">{{ todoList.title }} - </span>
      <span class="date">{{ todoList.date | date : "dd/MM/yyyy" }} - </span>
    </li>
  </ul>
</div>
