.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #e4e4e4;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}

.data {
  margin-top: 20px;
}
